
<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>My Portfolio</title>

<style>
   

  *{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box ;
    
  }
.logo{
  color: wheat;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  float: right;
}
  span{
    color: #f9004d;
  }

  body{
    background-image:url(/dark-background.jpg);
    background-size: contain;
  }  
    
  


</style>
<body>

    <!-- Navigation Bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Babajide's Portfolio</a>
      </div>
        
      <ul class="nav navbar-nav">
            <li><a class="active" href="/index"> Home</a></li>
            <li><a  href="/about"> About me</a></li>
            <li><a href="/projects"> projects</a></li>
            <li><a href="/services"> services</a></li>
            <li><a href="/contact"> contact</a></li>
      </ul>
      <h2 class="logo"> TRIG<span>GER</span></h2>
    </div>
</nav>


<!-- Main Content -->
<div class="jumbotron text-center">
    <h1 style="color: #f9004d;">Babajide's Portfolio Website </h1>
    <p>"Story for the Gods!! "</br>
  
    i’m currently learning Frontend frameworks (React and Vue), SQL, AWS Cloud Computing, FullStack development
    </p> 
  </div>
    



  
</body>
</head>
