<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<title> My Portfolio</title>
<body>
    <ul>
        <h1> Welcome to my Service</h1>
        <li><a  href="/Home">Home</a></li>
        <li><a  href="about"> About me</a></li>
        <li><a href="/projects"> projects</li>
        <li><a class="active" style="margin-top:-26px;" href="/services"> services</li>
        <li><a    href="/contact"> contact</li>
        </ul>
        </ul>

</body>
</head>
